.ng-select .ng-select-container{
   width: 120px;
   justify-content: center;
   align-items: center;
   border: 2px solid rgb(123, 8, 238) !important;
}


.ng-select.custom ::ng-deep .ng-select-container  { 
   width: 180px;
   border-radius: 0;
   border: none;
   padding: 10px 15px;;
   background-color: #303030;
   color: #fff;
}


.ng-select.custom ::ng-deep .ng-option  { 
   width: 200px;
   display: flex;
   background-color: #303030;
   color: #fff;
   border: 1px solid #000;
   padding: 10px 15px;
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
    color: #999;
}

.ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items{
   position: relative;
   top: 3px;
}

::ng-deep.ng-select .ng-has-value .ng-placeholder {
   display: none;
}

::ng-deep.ng-select .ng-arrow-wrapper{
   display: block;
   height: 12px;
   width: 12px;
   margin-top: 4px;
   color: #999;
   background: url(../../assets/images/down-arrow-svgrepo-com.svg);
}

::ng-deep.ng-select .ng-has-value .ng-arrow-wrapper{
   display: none;
}