.match_wrapper{
   display: flex;
   justify-content: space-around;
   align-items: center;
   border: 2px solid #f4f4f4;
   border-top: 0;
   color: #000;
   padding: 15px;
   font-size: 21px;
   font-weight: 600;
   max-width: 80%;
   margin: 0 auto;
}

.team{
   min-width: 120px;
   text-align: center;
}

.score_wrapper{
   display: flex;
   justify-content: space-between;
   color: #d0021b;
}