<div class="container__navbar">
   <header class='header'>
      <div class="header_inner">
         <div class="header_logo">
            <img src="../../../assets/images/dota-2-seeklogo.com.svg">
         </div>
      </div>
      <nav class='header_navbar'>
         <a href="" class="nav_link">Home</a>
         <a href="" class="nav_link">England</a>
         <a href="" class="nav_link">News</a>
         <a href="" class="nav_link active">Fixtures & Results</a>
         <a href="" class="nav_link">Participation</a>
         <a href="" class="nav_link">Governance</a>
         <a href="" class="nav_link">Find Rugby</a>
      </nav>
   </header>
</div>
